data/
outputs/
models/
*.parquet
*.feather
*.arrow
*.pkl
*.joblib

__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.env
*.yml
.ipynb_checkpoints/

.DS_Store
Thumbs.db
ml-latest-small/
data
data_new
data/
data_new/
movie_lens.ipynb
